config/
lib/
node_modules/
out/
src/**/.settings/
src/4gl-workspace/
tmp/

src/lib/**/*.js

*.r
*.lg
*.log
*.tgz
**/ubpf.config
src/4gl/lbi*
src/4gl/rcd*
src/4gl/srt*

src/**/.project
src/**/.propath
src/config.json
src/.openedge.json
