config/
lib/
node_modules/
out/
src/4gl/.settings/
src/4gl-workspace/
tmp/

src/ts/**/*.js
src/ts/**/*.p

*.r
*.lg
*.log
*.tgz
**/ubpf.config
src/4gl/lbi*
src/4gl/rcd*
src/4gl/srt*

src/4gl/.project
src/4gl/.propath
src/config.json
src/.openedge.json
